.s_bg {
	margin-top: 100px;
	background: linear-gradient(-30deg, rgb(102, 252, 241) 50%, white 50%);
}

.servic_page_container {
	top: 50%;
	left: 50%;
	transform: translate(1%, 15%);
	min-height: 100vh;
	margin: auto;
	width: 1100px;
}

.membership_card_heading {
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	word-spacing: 4px;
	letter-spacing: 1.2px;
	font-size: 32px;
}

.membership_cards_container {
	display: flex;
	justify-content: space-around;
}

.membership_card_inner_list {
	display: table;
	line-height: 5px;
	margin-bottom: 20px;
	margin-left: 50px;
	font-weight: bold;
}

.inner_card_heading {
	text-align: center;
	font-size: 25px;
	letter-spacing: 1.1px;
}

.membership_card {
	text-align: center;
	background-color: white;
	box-shadow: 2px 3px 8px #ccc;
	width: 325px;
	padding: 35px 30px 35px 30px;
	border-radius: 15px;
}

.membership_card:hover {
	transform: scale(1.1);
	transition-duration: 0.5s;
}

.card_amount {
	color: #00fae9;
	text-shadow: 1px 1px 2px #ccc;
	font-size: 45px;
	margin-top: 15px;
	margin-bottom: -8px;
}
