@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

/* ::-webkit-scrollbar {
	display: none;
} */

.for_bg_image {
	background-image: linear-gradient(
			rgba(31, 40, 51, 0.5),
			rgba(31, 40, 51, 0.5)
		),
		url("./Images/home_page_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
	clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
}

/* .navbar_wrapper {
	position: fixed;
} */

/* .all_pages_container {
	margin: auto;
	width: 1100px;
} */
