@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* for smooth scrolling */
html {
	scroll-behavior: smooth;
}
/* -------------------- */

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.for_bg_image {
	background-image: linear-gradient(
			rgba(31, 40, 51, 0.5),
			rgba(31, 40, 51, 0.5)
		),
		url("./Images/home_page_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
	clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
}

/* .navbar_wrapper {
	position: fixed;
} */

/* .all_pages_container {
	margin: auto;
	width: 1100px;
} */

.ErrorPage .errorImg,
.ErrorPage .errorText {
	display: none;
}

@media screen and (max-width: 1100px) {
	.for_bg_image {
		display: none;
	}
	.about_container {
		display: none;
	}
	.contact_us_page_container {
		display: none;
	}
	.footer_page_container {
		display: none;
	}
	.text_on_image {
		display: none;
	}
	.navbar_wrapper {
		display: none;
	}
	.s_bg {
		display: none;
	}
	.programs_page_container {
		display: none;
	}
	.r_bg {
		display: none;
	}
	.ErrorPage .errorImg {
		display: block;
		height: 35rem;
		width: 100%;
		margin-top: 2rem;
	}
	.ErrorPage .errorText {
		display: block;
		margin: auto;
		letter-spacing: 1.5px;
		word-spacing: 2px;
		font-size: 1.5rem;
		text-align: center;
		background-color: #66fcf1;
		padding: 10px;
		border-radius: 6px;
	}
}
